matrix:
  include:
    - language: c
      compiler: gcc
      script: make
    - language: c
      compiler: clang
      script: make
    - arch: arm64
      language: c
      compiler: gcc
      script: make arm_neon=1 aarch64=1
    - language: python
      python: "2.7"
      before_install: pip install cython
      script: python setup.py build_ext
    - language: python
      python: "3.5"
      before_install: pip install cython
      script: python setup.py build_ext
    - language: python
      python: "3.9"
      before_install: pip install cython
      script: python setup.py build_ext
