include *.h
include Makefile
include ksw2_dispatch.c
include main.c
include README.md
include sse2neon/emmintrin.h
include python/cmappy.h
include python/cmappy.pxd
include python/mappy.pyx
include python/README.rst
